body,html{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.container{
  margin: 0 auto;
  min-width: 1440px;
}
@media screen and (max-width:1000px){
  .container{
    margin: 0 auto;
    min-width: 1000px;
  }
}
@media screen and (max-width:480px){
  .container{
    min-width: 480px;
  }
}